@keyframes photoslide1{
    0%{
        transform: translateX(-50vw);
        opacity: 0.2;
        scale: 0.6;
    }
    50%{
        transform: translateX(10vw);
        opacity: 1;
        scale: 1;
    }
}

@keyframes photoslide2{
    0%{
        transform: translateX(30vw);
        opacity: 0.2;
        scale: 0.6;
    }
    35%{
        transform: translateX(-40vw);
        opacity: 1;
        scale: 1;
    }
}

.about{
    background-color: #4d5044f3;
    min-height: 100vh;
    height: auto;
    padding: 4rem 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background: transparent;
    background-image: linear-gradient(
        120 deg,
        rgba(225, 225, 225, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    backdrop-filter: blur(20px);

    border-bottom: 0.2rem;
    border-color: rgba(255, 255, 255, 0.776);
    border-bottom-style :solid;
    position: relative;
}

.abouttext p{
    display: flex;
    padding: 0;
    margin-left: 58vw;
    position: absolute;
    margin-top: 15vh;
    max-width: 35vw;


    text-decoration-style: none;
    font-size: 1rem;
    animation: textAppear 0.2s ease-out;
    animation-timeline: view();

    text-shadow: 0 0 10px #ffffffe5;
}


.abouttext2 p{
    display: flex;
    padding: 0;
    margin-left: 10vw;
    position: absolute;
    padding-top: 60vh;

    max-width: 35vw;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    animation: textAppear 0.1s ease-out;
    animation-timeline: view();


    text-shadow: 0 0 10px #ffffffc5;
}

.about h2{
    font-size: 1.1rem;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    animation: textAppear 0.3s ease-out;
    animation-timeline: view();
    text-shadow: 0 0 10px #ffffff52;
}

.othslink{
    color: #ff9d00;
    text-decoration: none;
    
}

.aboutphoto1{
    position: relative;
    width: 20rem;
    height: 20rem;
    margin-top: 4rem;
    margin-left:4vw;
    display: flex;

    background: transparent;
    background-image: linear-gradient(
        120 deg,
        rgba(225, 225, 225, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-width: 0.0009rem;
    border-color: rgba(225, 225, 225, 0.3);
    border-style: solid;


    z-index: 49;
    border-radius: 16px;

    animation: photoslide1 3s ease-in-out;
    animation-timeline: view();
}

.aboutphoto2{
    position: relative;
    width: 16rem;
    height: 16rem;
    margin-top: 4rem;
    transform: translateX(50%);
    margin-left: 100vw;

    background: transparent;
    background-image: linear-gradient(
        120 deg,
        rgba(225, 225, 225, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-width: 0.0009rem;
    border-color: rgba(225, 225, 225, 0.3);
    border-style: solid;

    z-index: 49;
    border-radius: 16px;

    animation: photoslide2 3s ease-in-out;
    animation-timeline: view();
}

@media screen and (max-width: 768px){
    .abouttext p, .abouttext2 p{
        font-size: 0.9rem;
    }

    .forum-post{
        max-height: 45px;
        width: 5px;
        margin-left: 50vw;
    }

    .aboutphoto1{
        max-width: 15rem;
        max-height: 15rem
    }
}