@keyframes textAppear{
    from{
        opacity: 0;
        transform: translatey(10px);
    }
    to{
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes bounce{
    0%, 100%{
        transform: translatey(0);
    }
    50%{
        transform: translatey(0.5rem);
    }
}

.landingtext{
    animation: textAppear 1s linear;
    padding-left: 10%;
    padding-top: 25vh;
}

.scroll-down p{
    animation: textAppear 1s linear;
}

.landing {
    min-height: 100vh;
    height: auto;
    padding: 4rem 0;
    width: 100%;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
    border-bottom-color: rgba(255, 255, 255, 0.72);

    animation: appear 0.7s linear;
    transition: 1s ease-out;
}

.landing_logos{
    width: 1.1rem;
    height: 1rem;
    padding-top: 2px;
    display: inline;
    
}

.landing_logosos{
    width: .8rem;
    height: 1rem;
    padding-top: 2px;
}

.content .landing a{
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    bottom: 50px;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.scroll-down p{
    margin-bottom: .6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.scroll-down{
    color: #f7faff73
}

.scroll-down i{
    animation: bounce 2s infinite;
}

/* Landing Hero */
.hero{
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-shadow: 0 0 14px #ffffffe5;
    display: flex;
    text-wrap-mode:wrap;
}

.hero-description{
    font-size: 1.005rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: auto;
    padding-left: 5vw;
    justify-content: center;
    position: absolute;
}

.hero-software{
    display: inline;
}

.desc-wrapper{
    display: flex;
}

.hero-contact{
    font-size: 2rem;
    color: #d4d393e5;
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-image: linear-gradient(to right, #d1cdcd, #ed403a, #f95325e5);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;

    text-shadow:0 0 14px #ffffffc2;
}

.forum-post{
    background-color: rgba(204, 196, 168, 0.473);
    min-width: 7px;
    max-width: 8px;
    min-height: 90px;
    border: none;
    position: static;
    margin-left: 11.7%;
    animation: textAppear 1s ease-out;
    display: flex;
}

.hero-disclaimer{
    font-size: .6rem;
}

.hero {
    font-size: clamp(0.6em, 2vw, 1.2rem);
}

.hero-description {
    font-size: clamp(0.6rem, 1.5vw, 1rem);
}

.hero-contact {
    font-size: clamp(1.2rem, 3vw, 2rem);
}

.nav-home{
    display: inline;
    text-wrap-mode: nowrap;
}