/* Navbar */
.navbar{
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    top: 40px;
    
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px 30px;
    border-radius: 16px;

    background: transparent;
    background-image: linear-gradient(
        120 deg,
        rgba(225, 225, 225, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-width: 0.0009rem;
    border-color: rgba(225, 225, 225, 0.3);
    border-style: solid;

    z-index: 50;
    box-shadow: 10px 5px 100px rgba(0,0,0,0.2);
}

.nav-home{
    font-size: 1.1rem;
    border-radius: 16px;
    background:linear-gradient(
        to right,
        #848baa6e,
        #b1b9db65
    );

    padding: 8px 10px;
    margin-right: 30px;
    cursor: pointer;
}

.nav-home:hover{
    font-size:1.12rem;
    text-shadow: 0 0 30px #ffffff;
}

.nav-github{
    font-size: 1.1rem;
    border-radius: 16px;
    background:linear-gradient(
        to right,
        #848baa6e,
        #b1b9db65
    );
    padding: 8px 10px;
    border: 10px;
    border-color:white;
}

.nav-github a{
    color:white;
    text-decoration: none;
}

.nav-tabs{
    display: flex;
    background: rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 4px;
    border-color: rgba(225, 225, 225, 0.1);
    border-style: solid;
    border-width: 0.0009rem;
}

.nav-tabs a:hover{
    text-shadow: 0 0 15px #ffffff;
    font-size:1.18rem;
}

.nav-tab {
    padding: 6px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-size: 1.15rem;
    cursor: pointer;
}

.nav-tab.active{
    background: linear-gradient(
        to right,
        #848baa3d,
        #b1b9db54
    );
    opacity: .9;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Scrollbar Functions */
::-webkit-scrollbar{
    display: block;
    background: transparent;
    width: 1.15rem;
}

::-webkit-scrollbar-track{
    background: rgba(75, 73, 73, 0.781);
}

::-webkit-scrollbar-thumb{
    background: #747474c2;
}

::-webkit-scrollbar-thumb:hover{
    background: #747474;
}

/* Scrolltop Button */
.scroll-top{
    bottom: 30px;
    right: 30px;
    position: fixed;

    background: rgba(255, 248, 248, 0.23);
    backdrop-filter: blur(3px);
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 12px 14px;
    cursor: pointer;
    border-radius: 10px;
}

.scroll-top:hover{
    text-shadow: 0 0 15px #ffffff;
}
