* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: #000000cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    display: block;
    background: transparent;
    width: 1.15rem;
}

::-webkit-scrollbar-track{
    background: rgba(75, 73, 73, 0.781);
}

::-webkit-scrollbar-thumb{
    background: #747474c2;
}

::-webkit-scrollbar-thumb:hover{
    background: #747474;
}

/* Animations */
@keyframes textAppear{
    from{
        opacity: 0;
        transform: translatey(10px);
    }
    to{
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes bounce{
    0%, 100%{
        transform: translatey(0);
    }
    50%{
        transform: translatey(0.5rem);
    }
}

.landingtext{
    animation: textAppear 1s linear;
}

.scroll-down p{
    animation: textAppear 1s linear;
}

.landing {
    background-color: #90a6cfc5;
    height: 102vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.6rem;
    border-bottom-color: rgba(255, 255, 255, 0.72);
    background-image: url(images/beam_bg.jpg);

    animation: appear 0.7s linear;
    transition: 1s ease-out;
}

.landing_logos{
    width: 1.1rem;
    height: 1rem;
    padding-top: 2px;
    display: inline;
    
}

.landing_logosos{
    width: .8rem;
    height: 1rem;
    padding-top: 2px;
}

.content .landing a{
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    bottom: 50px;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.scroll-down p{
    margin-bottom: .6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.scroll-down{
    color: #f7faff73
}

.scroll-down i{
    animation: bounce 2s infinite;
}

.about{
    background-color: #4d5044f3;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.abouttext{
    padding: 10% 15%;
    font-size: 1.1rem;
    animation: textAppear 0.5s ease-out;
    animation-timeline: view();
}


.about h2{
    font-size: 1.1rem;
}

.renders{
    height: 100vh;
    width: 100%;
}

.other{
    height: 100vh;
    width: 100%;
    background-color: gray;
}

.navbar{
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    top: 40px;
    
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px 30px;
    border-radius: 16px;

    background: transparent;
    background-image: linear-gradient(
        120 deg,
        rgba(225, 225, 225, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-width: 0.0009rem;
    border-color: rgba(225, 225, 225, 0.3);
    border-style: solid;

    z-index: 50;
    box-shadow: 10px 5px 100px rgba(0,0,0,0.2);
}

.nav-home{
    font-size: 1.1rem;
    border-radius: 16px;
    background:linear-gradient(
        to right,
        #848baa6e,
        #b1b9db65
    );

    padding: 8px 10px;
    margin-right: 30px;
    cursor: pointer;
}

.nav-home:hover{
    font-size:1.12rem;
    text-shadow: 0 0 30px #ffffff;
}

.nav-github{
    font-size: 1.1rem;
    border-radius: 16px;
    background:linear-gradient(
        to right,
        #848baa6e,
        #b1b9db65
    );
    padding: 8px 10px;
    border: 10px;
    border-color:white;
}

.nav-github a{
    color:white;
    text-decoration: none;
}

.nav-tabs{
    display: flex;
    background: rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 4px;
    border-color: rgba(225, 225, 225, 0.1);
    border-style: solid;
    border-width: 0.0009rem;
}

.nav-tabs a:hover{
    text-shadow: 0 0 15px #ffffff;
    font-size:1.18rem;
}

.nav-tab {
    padding: 6px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-size: 1.15rem;
    cursor: pointer;
}

.nav-tab.active{
    background: linear-gradient(
        to right,
        #848baa3d,
        #b1b9db54
    );
    opacity: .9;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.hero{
    font-size: 1.1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10%;
    padding-top: 30vh;
    justify-content: center;
    position: absolute;
}

.hero-description{
    font-size: 1.005rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 13%;
    padding-top: 33vh;
    justify-content: center;
    position: absolute;
}

.hero-contact{
    font-size: 2rem;
    color: #d4d393e5;

    background-image: linear-gradient(to right, #d1cdcd, #bece33, #e29219e5);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;

    text-shadow:0 0 16px #ffffffa8;
}

.forum-post{
    background-color: rgba(204, 196, 168, 0.473);
    width: 8px;
    height: 90px;
    border: none;
    position: absolute;
    left: 11.8%;
    top: 33%;
    animation: textAppear 1s ease-out;
}

.hero-disclaimer{
    font-size: .6rem;
}

.scroll-top{
    bottom: 30px;
    right: 30px;
    position: fixed;

    background: rgba(255, 248, 248, 0.23);
    backdrop-filter: blur(3px);
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 12px 14px;
    cursor: pointer;
    border-radius: 10px;
}

.scroll-top:hover{
    text-shadow: 0 0 15px #ffffff;
}