* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: #000000cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow-x: hidden;
}

@keyframes loadin{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Animations */
@keyframes textAppear{
    from{
        opacity: 0;
        transform: translatey(10px);
    }
    to{
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes bounce{
    0%, 100%{
        transform: translatey(0);
    }
    50%{
        transform: translatey(0.5rem);
    }
}

@keyframes photoslide1{
    0%{
        transform: translateX(-30rem);
        opacity: 0.2;
        scale: 0.6;
    }
    75%{
        transform: translateX(25rem);
        opacity: 1;
        scale: 1;
    }
}

@keyframes photoslide2{
    0%{
        transform: translateX(30rem);
        opacity: 0.2;
        scale: 0.6;
    }
    43%{
        transform: translateX(-40rem);
        opacity: 1;
        scale: 1;
    }
}

.bg{
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
    background-image: url(images/bg-img.jpg);
    background-size: cover;
    background-position: center;
}

.landingtext{
    animation: textAppear 1s linear;
    padding-left: 10%;
    padding-top: 25vh;
}

.scroll-down p{
    animation: textAppear 1s linear;
}

.landing {
    height: 102vh;
    width: 100%;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
    border-bottom-color: rgba(255, 255, 255, 0.72);

    animation: appear 0.7s linear;
    transition: 1s ease-out;
}

.landing_logos{
    width: 1.1rem;
    height: 1rem;
    padding-top: 2px;
    display: inline;
    
}

.landing_logosos{
    width: .8rem;
    height: 1rem;
    padding-top: 2px;
}

.content .landing a{
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    bottom: 50px;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.scroll-down p{
    margin-bottom: .6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.scroll-down{
    color: #f7faff73
}

.scroll-down i{
    animation: bounce 2s infinite;
}

.about{
    background-color: #4d5044f3;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background: transparent;
    background-image: linear-gradient(
        120 deg,
        rgba(225, 225, 225, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    backdrop-filter: blur(20px);

    border-bottom: 0.2rem;
    border-color: rgba(255, 255, 255, 0.776);
    border-bottom-style :solid;
    position: relative;
}

.abouttext p{
    padding: 0;
    margin-left: 58%;
    position: absolute;
    margin-top: 10%;
    width: 40rem;
    text-wrap-mode: wrap;

    text-decoration-style: none;
    font-size: 1.1rem;
    animation: textAppear 0.2s ease-out;
    animation-timeline: view();

    text-shadow: 0 0 10px #ffffffe5;
}

.abouttext2 p{
    padding: 0;
    margin-left: 10%;
    width: 40rem;
    text-wrap-style: wrap;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    animation: textAppear 0.1s ease-out;
    animation-timeline: view();
    position: absolute;

    margin-top: 30%;

    text-shadow: 0 0 10px #ffffffc5;
}

.about h2{
    font-size: 1.1rem;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    animation: textAppear 0.3s ease-out;
    animation-timeline: view();
    text-shadow: 0 0 10px #ffffff52;
}

.othslink{
    color: #ff9d00;
    text-decoration: none;
}

.aboutphoto1{
    width: 20rem;
    height: 20rem;
    margin-top: 4rem;

    background: transparent;
    background-image: linear-gradient(
        120 deg,
        rgba(225, 225, 225, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-width: 0.0009rem;
    border-color: rgba(225, 225, 225, 0.3);
    border-style: solid;


    z-index: 49;
    border-radius: 16px;

    animation: photoslide1 3s ease-in-out;
    animation-timeline: view();
}

.aboutphoto2{
    width: 16rem;
    height: 16rem;
    margin-top: 4rem;
    transform: translateX(50%);
    margin-left: 100vw;

    background: transparent;
    background-image: linear-gradient(
        120 deg,
        rgba(225, 225, 225, 0.3),
        rgba(0, 0, 0, 0.2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-width: 0.0009rem;
    border-color: rgba(225, 225, 225, 0.3);
    border-style: solid;

    z-index: 49;
    border-radius: 16px;

    animation: photoslide2 3s ease-in-out;
    animation-timeline: view();
}

.renders{
    height: 100vh;
    width: 100%;
}

.renders h2{
    margin-left: 10%;
    font-size: 1.15rem;
    margin-top: 8%;
    position: absolute;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right, #c3ccd6, #a3bbd8c8);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;

    text-shadow:0 0 10px #ffffff74;
    animation: textAppear 0.1s ease-out;
    animation-timeline: view();
}

.renderdiv{
    width: .35rem;
    height: 1.3rem;
    background-color: rgba(110, 169, 232, 0.248);
    margin-left: 9.2%;
    position: absolute;
    margin-top: 8%;
    animation: textAppear 0.1s ease-out;
    animation-timeline: view();
}

.other{
    height: 100vh;
    width: 100%;
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.bloghead{
    position: absolute;
    font-size: 1.55rem;
    margin-left: 48%;
    align-items: center;
    width: 4rem;

    margin-top: 2.5%;
}

.blogcontent{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.05rem;
    width: 25rem;
    margin-left: 10%;
    padding-top: 12%;
    position: absolute;
}

.post1{
    animation: textAppear 0.1s ease-out;
    animation-timeline: view();
    
}

.post2{
    animation: textAppear 0.1s ease-out;
    animation-timeline: view();
}

.date1 p{
    font-size: 0.80rem;
    animation-timeline: view();
    animation: textAppear 0.3s ease-out;
    animation-timeline: view();
    margin-bottom: 2rem;

}
.date2 p{
    font-size: 0.80rem;
    animation: textAppear 0.3s ease-out;
    animation-timeline: view();
}

.hero{
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    justify-content: center;
    position: absolute;
    text-shadow: 0 0 14px #ffffffe5;
}

.hero-description{
    font-size: 1.005rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1.5rem;
    padding-left: 3rem;
    justify-content: center;
    position: absolute;
}

.hero-contact{
    font-size: 2rem;
    color: #d4d393e5;
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-image: linear-gradient(to right, #d1cdcd, #ed403a, #f95325e5);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;

    text-shadow:0 0 14px #ffffffc2;
}

.forum-post{
    background-color: rgba(204, 196, 168, 0.473);
    width: 8px;
    height: 90px;
    border: none;
    position: relative;
    left: 11.7%;
    top: 4%;
    animation: textAppear 1s ease-out;
}

.hero-disclaimer{
    font-size: .6rem;
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: .4vh;
    border-top-color: rgba(255, 255, 255, 0.72);
    background-color: rgba(53, 52, 52, 0.818);
    height: 8vh;
}

.footerdisc{
    width: 100%;
    opacity: .8;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}

.footerlinks{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.footerlinks a{
    text-decoration: none;
    color: white;
    text-decoration-color: white;
    text-decoration: none;
    padding: 1vh 10vw;
}

.contactMe{
    display: flex;
    justify-content: left;
    position: absolute;
    margin-top: 80vh;
    margin-left: 10vw;
    width: 8vw;
    height: 5vh;
    border-radius: 12px;
    background-color: rgba(53, 52, 52, 0);

}
.contacttext{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 250;
    font-style: italic;
}
.contacttext i{
    padding-right: .5vw;
}
.contacttext:hover{
    font-size: 1.02rem;
    text-shadow: 0 0 15px #ffffff7f;
    cursor: pointer;
}


.contact-panel{
    position: fixed;
    left: -100%;
    height: 100%;
    width: 250px;
    max-width: 40%;
    background: rgba(30, 30, 30, 0.267);
    backdrop-filter: blur(10px);
    transition: left 0.4s ease;
    z-index: 999;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.152);
}

.contact-panel.active{
    left:0;
    opacity: 1;
}

.panel-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.panel-close{
    font-size: 1.8rem;
    cursor: pointer;
    align-self: flex-end;
}

.panel-content input{
    background-color: #ffffff2b;
    border-radius: 5px;
    border-width: 5px;
    outline: none;
    height: 30px;
    margin: 10px 0px;
    width: 175px;
    border: rgb(255, 255, 255);
    padding: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.panel-content textarea{
    background-color: #ffffff2b;
    border-radius: 5px;
    border-width: 5px;
    resize: none;
    width: 175px;
    border: none;
    padding: 10px;
    margin: 10px 0px;
    color: white;
}

.panel-content button{
    background-color: #e69898;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 175px;
    height: 30px;
    margin-top: 15px;
    font-weight: 500;
    color: white;
}


@media screen and (max-width: 768px){
    .hero{
    
    }
}
