* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: #241f2ccc;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-x: hidden;
}

.navbar{
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    top: 40px;
    
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px 30px;
    border-radius: 16px;

    background: #fff8f83b;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    z-index: 50;
    box-shadow: 0 10px 24px rgba(0,0,0,0.2);
}

.nav-home{
    font-size: 1.1rem;
    border-radius: 16px;
    background:linear-gradient(#848BAA, #96989e);
    padding: 8px 10px;
    margin-right: 30px;
}

.nav-home:hover{
    font-size:1.12rem;
    text-shadow: 0 0 30px #ffffff;
}

.nav-github{
    font-size: 1.1rem;
    border-radius: 16px;
    background:linear-gradient(#babfd4, #96989e);
    padding: 8px 10px;
    border: 10px;
    border-color:white;
}

.nav-github a{
    color:white;
    text-decoration: none;
}

.nav-tabs{
    display: flex;
    background: rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 4px;
}

.nav-tabs a:hover{
    text-shadow: 0 0 15px #ffffff;
    font-size:1.18rem;
}

.nav-tab {
    padding: 6px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-size: 1.15rem;
}

.nav-tab.active{
    background:linear-gradient(#848BAA, #7a7f94);
    opacity: .9;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.hero{
    height: 120vh;
}

.scroll-top{
    bottom: 30px;
    right: 30px;
    position: fixed;

    background: #fff8f83b;
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 12px 14px;
    cursor: pointer;
    border-radius: 10px;
}

.scroll-top:hover{
    text-shadow: 0 0 15px #ffffff;
}